DATABASE_URL="postgresql://postgres:postgres@localhost:19200/vendas_db?schema=public"
TEST_DATABASE_URL="postgresql://postgres:postgres@localhost:19200/vendas_test_db?schema=public"
WEBHOOK_SECRET="super-secret-hmac-key-for-development-32chars"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
